octave-workspace
benchmarks/*
!*.cpp
src/heuristics/*
!src/heuristics/Makefile
relazione.pdf
relazione.aux
relazione.fdb_latexmk
relazione.fls
relazione.log
relazione.out
relazione.synctex.gz
relazione_vimtex_selected.aux
relazione_vimtex_selected.fdb_latexmk
relazione_vimtex_selected.fls
relazione_vimtex_selected.log
relazione_vimtex_selected.out
relazione_vimtex_selected.pdf
relazione_vimtex_selected.synctex.gz
relazione_vimtex_selected.tex
